*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav{
  background-color: #000;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  color: white;
}

.nav .logo{
  color: #fff;
  font-size: 30px;
  line-height: 80px;
  padding: 0 20px;
  float: left;
}

.nav ul{
  float: right;
  margin-right: 20px;
}

.nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

.nav ul li a{
  color: #fff;
  text-decoration: none;
  padding: 7px 13px;
  font-size: 17px;
  transition: .5s;
}

.nav a.active {
  background-color: white;
  color: black;
}
.nav ul li a:hover{
  background-color: #fff;
  color: #000;
}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media only screen and (max-width: 600px) {
  body{
    background-color: blue;
  }
  .nav{
    height: auto;
    position: sticky;
    top: 0;
    position: relative;
  }
  .nav ul{
    position: relative;
    float: none;
  }
  .nav ul li{
    display: inherit;
    width: 100%;
    text-align: left;
  }
  .nav ul li a{
    display: block;
    width: 100%;
    text-align: left;
  }
  div#colors{
    background-color: red;
  }

}

/* @media only screen and (max-width: 600px) {
  div#colors{
    background-color: red;
  }

} */
  


#image{
  background-image: url('./photo.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  width: 100%;
}

#colors{
  background-color: violet;
  position: relative;
  height: 200vh;
  width: 100%;
}
.fixedContainer{
  position: sticky;
  margin-top: 10px;
  padding: 30px;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}
.absContainer{
  position: absolute;
}
.bgTest{
  background-color: black;
  width: 100%;
}
.bgTest > h1{
  color: indigo;
  text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;

}
.button{
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(8, 8, 68);
  color: white;
}

.right{
  float: right;
  background-color: blue;
  height: 100px;
  width: 100px;
  margin-right: 20px;
}

.left{
  background-color: blue;
  height: 100px;
  width: 100px;
  float: left;
  margin-left: 20px;
}
.portContainer{
  display: grid;
  height: 100vh;
  width: 100%;
}
/* #blackBody{
  height: 100px;
  width: 100vw;
  background-color: black;
  transition: background-color 1s;
}

#whiteBody{
  height: 1500px;
  width: 100vw;
  background-color: red;
} */


.typingText p{
  width: 150px;
  overflow: hidden;
  color: white;
  border-right: .15em solid orangered;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 2px;
  animation: 
    typing 3.5s steps(15, end),
    blink-caret .75s step-end infinite;


}

@keyframes typing {
  from { width: 0 }
  to { width: 150px}
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orangered; }
}
